body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
  }
  h1{
    color: coral;
  }
  
  .container {
    width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(234, 7, 143, 0.2);
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  button {
    background-color: cornflowerblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius:10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0b86f2;
  }
  